#layout-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  color: white;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
}
#layout-footer a {
  color: white;
  text-decoration: none;
}
#layout-footer a:hover {
  color: burlywood;
}
#layout-footer .footer-nav ul:hover {
  color: burlywood;
}
